/* Font link  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

/* navbar section style  */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 37px 0;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo,
.nav-menu-list,
.follow-btn a {
    display: flex;
    align-items: center;
}

.nav-logo h3 {
    padding-left: 20px;
    font-size: 2rem;
}

.nav-logo span {
    color: #ff42a5;
}

.follow-btn {
    padding: 17px 17px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
}

.nav-menu-list {
    font-size: 1.2rem;
    font-weight: 500;

}

.nav-menu-list a {
    text-decoration: none;
    padding: 0 20px;
    color: #3C354F;
}

.follow-btn img {
    padding-left: 20px;
}

/* hero banner section style  */
.hero-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/group14.svg');
    background-repeat: no-repeat;
    gap: 65px;
    padding: 0 8%;
}

.hero-banner-content {}

.hero-banner-content h2 {
    font-size: 1.5rem;
    color: #0B0223;
    font-weight: 600;
}

.hero-banner-content h1 {
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-banner-content-list li {
    margin-bottom: 17px;
}

.content-list {
    display: flex;
    align-items: center;
}

.content-list p {
    padding-left: 12px;
}

.hero-banner-picture img {
    width: 100%;
}

.hero-banner-content-btn-1 {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-style: none;
    padding: 20px 40px;
    color: white;
    font-size: 1rem;
}

.hero-banner-content-btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    border-style: none;
    padding: 20px 40px;
    color: white;
    font-size: 1rem;
    margin-left: 24px;
}

/* online video section style  */
.online-video {
    padding: 0 8%;
    margin: 120px 0;
}

.online-video-card {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.online-video-content {
    text-align: center;
}

.video-card-item img {
    width: 100%;
}

.online-video-content h2 {
    font-size: 3rem;
    margin-bottom: 16px;
}

.online-video-content h2 span,
.online-game-content span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-video-content p {
    margin-bottom: 48px;
}

.video-card-item-effect {
    position: relative;
    border-radius: 16px;
    border: 5px solid white;
    height: auto;
    width: 100%;
}
.video-card-item-effect img{
    height: auto;
    width: 100%;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
}

.card-overlay h4 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F948B2;
    text-align: center;

}

.card-overlay img {
    width: 45px;
    position: absolute;
    top: 40%;
    left: 40%;
}

.video-card-item-effect:hover {
    cursor: pointer;
    transition: .5s ease-in-out;
    border: 5px solid #FF42A5;
    border-radius: 16px;
}

.video-card-item-effect:hover .card-overlay {
    opacity: 1;
}

/* online game section  */
.online-game {
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    align-items: center;
    gap: 100px;
}

.online-game-item {
    position: relative;
}

.online-game-item img {
    width: 100%;
}

.game-samll-picture {
    position: absolute;
    top: 60%;
    right: -60%;
}

.game-samll-picture img {
    width: 50%;
}

.online-game-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* game btn sectin style  */

.game-button-name {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: auto;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    padding: 50px 10%;
    margin: 120px 0;
}

.game-btn img {
    width: 40px;
    height: 40px;

}

.game-btn {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 5px 10px;
    background-color: white;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid white;
}

.game-btn p {
    font-size: 12px;
    margin-left: 10px;
}

.game-btn:hover {
    border-radius: 50px;
    background-color: white;
    border: 2px solid #FF42A5;
    color: #FF42A5;
    transition: .1s ease-in-out;
}

/* footer section  */
.footer {
    background-color: #0B0223;
    background-size: cover;
    color: white;
    padding: 120px 10%;
    text-align: center;
    width: auto;
}

.nav-logo {
    display: flex;
    justify-content: center;

}

#footer-logo {
    margin: 40px;
}

.foter-list ul {
    display: flex;
    justify-content: center;
}

.footer-list ul,
li {
    padding: 10px;
    cursor: pointer;
}




/* Responsive CSS for small device  */
@media screen and (max-width:576px) {

    .navbar,
    .nav-menu-list {
        flex-direction: column;
        box-shadow: none;
        row-gap: 24px;
    }

    .hero-banner {
        flex-direction: column-reverse;
        background-image: none;
    }

    .hero-banner-content {
        background-image: url('../images/Group14.png');
        background-size: contain;
        margin: 0 10%;
        padding: 5%;
    }

    .hero-banner-content-btn-1,
    .hero-banner-content-btn-2 {
        padding: 20px 30px;
    }

    .online-video-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-overlay img {
        left: 43%;
    }

    .online-game {
        text-align: center;
        flex-direction: column-reverse;
    }

    .game-samll-picture {
        position: absolute;
        top: 50%;
        right: -7%;
    }

    .game-button-name {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


/* Responsive CSS for Medium device  */
@media screen and (min-width:576px) and (max-width: 960px) {

    .navbar,
    .nav-menu-list {
        flex-direction: column;
        box-shadow: none;
        row-gap: 24px;
    }

    .hero-banner {
        flex-direction: column-reverse;
        background-image: none;
    }

    .hero-banner-content {
        background-image: url('../images/Group14.png');
        background-size: contain;
        margin: 0 10%;
        padding: 7%;
    }

    .online-video-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-overlay img {
        left: 42%;
    }

    .online-game {
        text-align: center;
        flex-direction: column-reverse;
    }

    .game-samll-picture {
        position: absolute;
        top: 70%;
        right: -7%;
    }
    
    .game-button-name {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}